<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%5level) [%thread] %cyan(%logger{39}) [%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ldy.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{25} [%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/ldy-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>512MB</totalSizeCap>
        </rollingPolicy>
    </appender>-->

    <root level="info">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="file"/>-->
    </root>
</configuration>